.bcontainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 100px;
}

.bleft {
  padding: 100px 50px 100px 150px;
  line-height: 1, 6;
  font-family: "Open Sans", sans-serif;
}

.btext {
  font-weight: 300;
  font-size: 20px;
}

.bh2 {
  font-weight: 700;
}

.bh5 {
  font-weight: 600;
}

* {
  margin: 0;
  padding: o;
}

.ccontainer {
  display: flex;
  justify-content: center;
}
.ccontainer .clines {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 200px;
  height: 200px;
}

.cblack {
  color: white;
  background-color: #111111;
}

.cimgs {
  padding: 28px 0 150px 189px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cblue {
  padding: 230px 189px 150px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #b9dfdf;
}

.ctext {
  font-family: "Open Sans", sans-serif;
  padding: 100px 0 0 200px;
  font-size: 16px;
}

h3 {
  font-size: 25px;
}

* {
  margin: 0;
}

.dleft {
  display: flex;
  flex-direction: column;
}

.dmain {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.drobots {
  background-color: #aea16a;
  color: white;
  width: 270px;
  height: 120px;
  padding: 50px 50px 50px 50px;
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
}

.dtext {
  width: 310px;
  height: 400px;
  background-color: #b9dfdf;
  font-size: 23px;
  padding: 50px 30px 50px 30px;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
}

.dman {
  margin-top: 30px;
}

.dmore {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #b9dfdf;
  margin: 20px 0 20px 0;
}

.dfooter {
  background-color: #333333;
  margin-top: 20px;
  padding: 70px 40px 150px 40px;
  display: flex;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white;
}

.dtitle {
  color: #aea16a;
}

* {
  margin: 0;
  padding: 0;
}

.eh2 {
  margin-top: 50px;
  text-align: center;
  color: #aea16a;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.etext {
  text-align: center;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.pics {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.eline {
  width: 15px;
  height: 250px;
  color: #aea16a;
  float: left;
  padding: 100px 50px 100px 150px;
}

.econtainer {
  padding: 100px 150px 100px 150px;
  display: flex;
  justify-content: space-between;
  background-color: #111111;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.acontainer {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: space-around;
}

.aline {
  background-color: #b9dfdf;
  margin-left: 800px;
  width: 10px;
  height: 100px;
}

.atext {
  color: white;
  padding-bottom: 350px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.atexth1 {
  padding-left: 800px;
  font-size: 70px;
}

.atextpre {
  padding-left: 800px;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */